---
Title: Cake.Kudu.Client
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
    <h1>What is it?</h1>
    <p>
       Cake addin that provides aliases for remotely communicating with the Azure App Service Kudu engine.
    </p>
</div>